@media only screen and (max-width: 800px) {
    .nav-items:not(:last-child) {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-items:not(:last-child) {
        margin-right: 20px;
    }

    nav ul {
        display: none;
    }

    #burger {
        display: block;
    }

    nav,
    #section1,
    h1,
    .part-of-header,
    #gallery-title {
        width: 90%;
    }

    #gallery-title h6 {
        font-size: 25px;
    }

    #right h3 {
        width: 100%;
        font-size: 22px;
        margin-bottom: 26px;
    }

    #right p:nth-child(3) {
        font-size: 20px;
        width: 100%;
        font-weight: 400;
        margin-bottom: 10px;
    }

    #right p:nth-child(4) {
        font-size: 16px;
        width: 100%;
        margin-bottom: 20px;
    }

    #upper {
        flex-wrap: wrap;
    }


    #upper img,
    #lower img {
        width: 100%;
        height: auto;
    }

    #upper img:first-child {
        margin-bottom: 16px;
    }

    #title h4 {
        font-size: 25px;
    }

    #section3 h5 {
        font-size: 22px;
        width: 100%;
    }

    #move-right p {
        width: 100%;
        font-size: 19px;
    }

    #gallery {
        width: 90%;
        margin-inline: auto;
    }

    #gallery img {
        width: 100%;
    }

    #gallery img:not(:last-child) {

        margin-bottom: 20px;
    }

    #different-width>p {
        margin-top: 40px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 700px) {
    #part-right img {
        width: 100%;
        height: auto;
    }
}


@media only screen and (max-width: 1082px) {
    #gallery img:not(:last-child) {

        margin-bottom: 20px;
    }

    #different-width {
        width: 90%;
    }
}
